{% extends 'layout.html' %} {% block title %} Image upload {% endblock %} {% block body %}
<h1>Afbeelding opladen</h1>
<div class="content" style="margin-top:20px;">
    <div class="container">
        <div class="intro">
            <div class="row vragen">
                <div class="col-md-12">
                    <h3 class="headervragen">Afbeelding invoegen</h3>
                    <div class="col-md-6">
                        <p style="text-align:center; margin-bottom: 2px;">Bestand selecteren</p>
                        <hr style="margin-top:5px;">
                        <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                            <input type=file name=photo style="margin:0 auto;" required>
                            <input class="btnsubmit" type="submit" value="Verzenden" style="text-align:center;">
                        </form>
                    </div>
                    <div class="col-md-6">
                        <p style="text-align:center; margin-bottom: 2px;">Foto nemen webcam</p>
                        <hr style="margin-top:5px;">
                        <a href="{{ url_for('capture_image') }}">
                            <input class="btnwebcam" type="button" value="Maak zelf een foto" />
                        </a>
                    </div>

                </div>
            </div>
            <a href="{{ url_for('index') }}" class="btncenter">
                <button class="btnhome">Terug naar home</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}